
@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 64px;
  background:#fafafa;
}
/* .player-wrapper { */
  /* width: -webkit-fill-available; */
    /* margin-top: 47px; */
    /* height: -webkit-fill-available; */
   
 /* position: relative;*/
  /*padding-top: 100% /* Player ratio: 100 / (1280 / 720) */
/* } */
 
/* .react-player {
  position: absolute;
  top: 0;
  left: 0;
  margin-Top: "54px";
  
} */
/*.video-js .vjs-tech {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: 83%;
}*/
.player-wrapper {
  width: auto; 
  height: auto; 
}
.react-player {
  /* padding-top: 56.25%;  */
  position: relative; 
}

.react-player > div {
  position: absolute; 
}